<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>

<h1>Про Open Encyclopedia</h1>
<p>Навчальний вебзастосунок для лабораторної роботи №2.</p>

<a href="/">На головну</a>

</body>
</html>
