<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Open Encyclopedia</h1>
    <p>Сервер працює ✔</p>
</body>
</html>
